.Cataloge {
  width: 82%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em auto;
}
.cataloge-img {
  width: 95%;
  height: 25em;
  margin-bottom: 2em;
  position: relative;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.cataloge-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}
.tag {
  background-image: linear-gradient(
    to right,
    #ffffff,
    #ffffff 50%,
    #ffffff 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  position: absolute !important;
  right: 80px;
  bottom: 1.3em;
  z-index: 1000;
  color: #ffffff;
  font-weight: bold;
  font-size: 3.5em;
}
.tag:before {
  content: "";
  background: #ffffff;
  display: block;
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.tag:hover {
  background-position: 0;
}

.tag:hover::before {
  width: 100%;
}