.Login {
  width: 80vw;
  margin: 5em auto;
  display: flex;
}

.LoginForm {
  width: 30%;
}
.LoginForm h2 {
  padding-left: 1.6em;
}
.LoginCreateAccount {
  width: 60%;
  padding-left: 12em;
}
.login-btns {
  background-color: transparent;
  border: 1px solid black;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  margin-top: 2.5em;
  cursor: pointer;
}
.log {
  width: 100%;
  margin-top: 2.9em;
}
.LoginCreateAccount p {
  width: 32em;
  font-size: medium;
}
.create {
  width: 43%;
}
