.Navbar{
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    align-items: center;
    width: 100vw;
    height: 10vh;

}
li a{
    color: black;
}

.nav-links, .nav-log-cart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-links{
width: 40%;
}

.nav-log-cart{
   width: 10%;
}

.nav-logo {
    height: 100px;
}

.nav-logo img {
    height: 100%;
    width:auto
}