@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); 

.Numero {
  font-size: 2em;
  width: 60px;
  height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
 line-height: 50px;
  cursor: pointer;
  margin-bottom: 30px;
  font-family: 'Playfair Display', serif;
}

.Numero:hover {
  border: 1px solid rgba(33, 68, 69, 0.285);
  width: 60px;

}
