.Numero {
  font-size: 2em;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5px;
  cursor: pointer;
}

.Numero:hover {
  border: 1px solid rgba(33, 68, 69, 0.285);
  width: 60px;
  height: 60px;
}
