.products-wrapper {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin:0 auto;
  width: 77vw;
  margin-top: 35px;
}

.products-box {
  width: 350px;
  height: 430px;
  margin-bottom: 10px;
  position: relative;

}
.wishlist-btn{
  position: absolute;
  right: 10px;
  top: 3px;
  z-index: 1500;
  font-size: 2.2em;
  color: white;
  cursor: pointer;
 
}


.products-img {
  width: 350px;
  height: 320px;
}

.products-details {
  display: flex;
  justify-content: space-between;
  width: 320px;
}
.products-details button span {
  font-size: 1em;
  font-weight: bold;
}
.product-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: -3px;
}

.products-btn:hover{
  color: #5f7470;
  
}