@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Exo 2", sans-serif;
}

.App {
  position: relative;
  min-height: 100vh;
}

.main {
  padding-bottom: 250px;
}
