@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Abel", sans-serif;
}

.App {
  position: relative;
  min-height: 100vh;
}

.main {
    padding-bottom: 250px;
}
